# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Local Claude / Cursor
.claude/
.cursor/
